@font-face {
    font-family: HankenGrotesk;
    src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

:root {
    /* Primary */
    --light-red: hsl(0, 100%, 67%);
    --light-red-t: hsla(0, 100%, 67%, 0.1);
    --orangey-yellow: hsl(39, 100%, 56%);
    --orangey-yellow-t: hsla(39, 100%, 56%, 0.1);
    --green-teal: hsl(166, 100%, 37%);
    --green-teal-t: hsla(166, 100%, 37%, 0.1);
    --cobalt-blue: hsl(234, 85%, 45%);
    --cobalt-blue-t: hsla(234, 85%, 45%, 0.1);

    /* Gradients */
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);
    --violet-blue: hsla(256, 72%, 46%, 0.9);
    --persian-blue: hsla(241, 72%, 46%, 0.1);

    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 68%);
    --white-60: rgba(255, 255, 255, 0.6);
    --white-40: rgba(255, 255, 255, 0.4);
    --pale-blue: #ebf1ff;
    --light-lavender: #c8c7ff;
    --dark-grey-blue: #303b5a;
}

body {
    font-family: HankenGrotesk;
}

p {
    font-size: 18px;
}

.attribution {
    margin-top: 10px;
}

.align-center {
    text-align: center;
}

.p1 {
    text-align: center;
    font-weight: 600;
    color: var(--white-60);
    font-size: 22px;
}

.p2 {
    font-weight: 600;
    color: var(--white-40);
    margin: 0px;
}

.p3 {
    font-weight: 600;
    color: var(--white);
    font-size: 26px;
}

.p4 {
    color: var(--white-60);
    font-size: 16px;
}

.p-summary {
    font-size: 22px;
    font-weight: 800;
    margin: 0px;
    color: var(--dark-grey-blue);
    margin-bottom: 20px;
}

.big-score {
    color: var(--white);
    font-size: 64px;
    font-weight: 800;
    margin: 0px;
    padding-top: 25%;
}

.btn {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    font-family: HankenGrotesk;
    padding: 15px;
    border-radius: 30px;
    border: none;
    background-color: var(--dark-grey-blue);
    color: var(--pale-blue);
    margin-top: 30px;
    cursor: pointer;
}

.main-container {
    width: 40%;
    margin-left: 30%;
    display: flex;
    margin-top: 10%;
    background-color: var(--white);
    box-shadow: 11px 3px 125px -1px rgba(235, 241, 255, 1);
    border-radius: 0px 30px 30px 0px;
}

.result-container {
    width: 50%;
    background: linear-gradient(180deg, var(--light-slate-blue) 0%, var(--light-royal-blue) 80%);
    border-radius: 30px;
    padding: 10px 65px 30px 65px;
    box-sizing: border-box;
}

.circle-score {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(180deg, var(--violet-blue)0%, var(--persian-blue) 70%);
}

.summary-container {
    width: 50%;
    box-sizing: border-box;
    padding: 35px;
}

.category {
    display: flex;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.reaction {
    background-color: var(--light-red-t);
}

.reaction>p {
    color: var(--light-red);
}

.memory {
    background-color: var(--orangey-yellow-t);
}

.memory>p {
    color: var(--orangey-yellow);
}

.verbal {
    background-color: var(--green-teal-t);
}

.verbal>p {
    color: var(--green-teal);
}

.visual {
    background-color: var(--cobalt-blue-t);
}

.visual>p {
    color: var(--cobalt-blue);
}


.category-icon {
    width: 20px;
}

.p-category {
    margin: 0px;
    font-weight: 600;
    margin-left: 10px;
}

.m-0 {
    margin: 0px;
}

.p-score {
    margin-left: auto;
    font-weight: 800;
}

.score {
    color: var(--dark-grey-blue);
}

.total {
    color: var(--grey);
}



@media only screen and (max-width: 1278px) {
    .main-container {
        display: block;
        width: 75%;
        margin-left: 12.5%;
        border-radius: 0px 0px 30px 30px;
    }

    .result-container {
        width: 100%;
        background-color: blue;
    }

    .summary-container {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .main-container {
        display: block;
        width: 70%;
        margin-left: 15%;
        border-radius: 0px 0px 30px 30px;
    }

    .result-container {
        width: 100%;
        background-color: blue;
    }

    .summary-container {
        width: 100%;
    }
}


@media only screen and (max-width: 480px) {
    .main-container {
        display: block;
        width: 90%;
        margin-left: 5%;
        border-radius: 0px 0px 30px 30px;
    }

    .result-container {
        width: 100%;
        background-color: blue;
    }

    .summary-container {
        width: 100%;
    }
}